html {
    /* background-color: rgb(54, 9, 145); */
    height: 100%;
    background-color: rgb(0, 0, 0);
}


body {

    background: linear-gradient(174deg, rgba(0, 0, 0, 1) 20%, rgba(21, 21, 55, 1) 40%, rgba(36, 36, 97, 1) 60%, rgba(103, 37, 209, 1) 90%) !important;
}

h1,
p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: white;
}

img {
    display: none;
}