@font-face {
    font-family: "Terminal";
    font-style: normal;
    font-weight: 500;
    src: url("../../assets/fonts/Terminal.woff") format("woff");
    font-display: swap;
}

body,
h1 {
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: 500;
    padding: 0%;
    margin: 0%;
    background: linear-gradient(174deg, rgba(0, 0, 0, 1) 20%, rgba(21, 21, 55, 1) 40%, rgba(36, 36, 97, 1) 60%, rgba(103, 37, 209, 1) 90%);
}

html,
body {
    overflow-x: hidden !important;
    overscroll-behavior: none;
    background: linear-gradient(174deg, rgba(0, 0, 0, 1) 20%, rgba(21, 21, 55, 1) 40%, rgba(36, 36, 97, 1) 60%, rgba(103, 37, 209, 1) 90%);
}

#nav-block {
    background-color: rgb(41, 41, 70);
}

#div-gh-icon {
    width: auto;
}

#icon-github,
.carousel-collap {
    width: 40px;
}

#icon-github:hover {
    filter: invert(100%);
}

#nav-list {
    display: flex;
    margin-left: auto;
    width: 50%;
    justify-content: space-around;
}

#nav-container a {
    color: rgba(240, 255, 255, 0.76);
}

#nav-container a:hover {
    color: rgb(240, 255, 255);
}

.navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.589);
}

.navbar-toggler-icon:hover {
    background-color: rgb(248, 241, 241);
}

.navbar-toggler {
    text-decoration: none;
    outline: 0;
    background-color: rgb(41, 41, 70) !important;
}

.navbar-toggler:focus {
    border: none !important;
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}

#caratula-block {
    text-align: justify;
    color: rgb(253, 251, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    min-height: 100svh;
}

#caratula-container {
    /* border: 1px solid rgba(247, 248, 242, 0.367); */
    width: 100%;
    display: grid;
    grid-template-areas:
        'nombre nombre nombre mainimg mainimg'
        'details details details mainimg mainimg'
        'details details details mainimg mainimg'
        'cv cv cv cv cv';
    gap: 10px;
}

#caratula-personal-info-seccion {
    margin-bottom: 40px;
    /* border: 1px solid white; */
    grid-area: nombre;
}

#caratula-info-name {
    font-size: clamp(2rem, 8vw, 6rem);
}

#caratula-info-grado {
    color: rgb(86, 240, 192) !important;
    font-size: 1.4em;
}

#caratula-cita-seccion {
    grid-area: details;
}

#caratula-logo-seccion {
    grid-area: mainimg;
    display: flex;
    justify-content: center;
    min-height: 400px;
}

#caratula-logo-box {
    margin: auto;
}

#caratula-logo-img {
    /* border: 1px solid white; */
    width: 100%;
}

#caratula-cv-seccion {
    margin-top: 50px;
    grid-area: cv;
}

#caratula-cv-header {
    text-align: center;
    /* border: red 1px solid; */
    display: block !important;
}

#caratula-cv-img {
    margin-top: 10px !important;
    display: block !important;
    width: 62px;
    filter: brightness(10000%);
    margin: auto;
}

#caratula-cv-img:hover {
    filter: brightness(100%);
}

#sobre-mi-block {
    border-top: 1px solid rgba(247, 248, 242, 0.367);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    min-height: 80svh;
}

/* #sobre-mi-container {} */

#sobre-mi-box {
    display: flex;
    justify-content: center;
}

#sobre-mi-header-box {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: clamp(1rem, 5vw, 4rem);
    margin-bottom: clamp(1rem, 5vw, 4rem);
}

#sobre-mi-header {
    width: fit-content;
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 4rem);
    color: white;
}

#sobre-mi-text {
    text-align: justify;
    width: 80%;
    color: white;
    font-size: clamp(1rem, 1.4vw, 1.5rem);
}

#proyectos-block {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-top: 1px solid rgba(247, 248, 242, 0.367);
    margin-bottom: 50px;
    min-height: 80svh;
}

/* #proyectos-container {border: 10px solid rgb(237, 249, 7);} */

#proyectos-header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: clamp(1rem, 5vw, 4rem);
    margin-bottom: clamp(1rem, 5vw, 4rem);
}

#proyectos-header {
    width: fit-content;
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 4rem);
    color: white;
}

#proyects-carrusel {
    margin-bottom: 100px;
}


.carousel-caption {
    background-color: rgba(15, 10, 25, 0.63);
}

.carousel-caption-header {
    color: rgb(244, 232, 232) !important;
}

.carousel-caption-header:hover {
    color: rgba(93, 244, 151, 0.901) !important;
}

.carousel-links {
    color: #ffee08;
    text-decoration: none;
}

.carousel-links:hover {
    color: rgb(78, 247, 143) !important;
}

p.carousel-descr {
    text-align: justify;
    padding: 10px;
}

.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.527) !important;
}

.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.527) !important;
}

#stack-block {
    color: white;
    border-top: 1px solid rgba(247, 248, 242, 0.367);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    min-height: 50svh;
}

/* #stack-container {border: 10px solid rgb(237, 249, 7);} */

#stack-header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: clamp(1rem, 5vw, 4rem);
    margin-bottom: clamp(1rem, 5vw, 4rem);
}

#stack-header {
    width: fit-content;
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 4rem);
}

#stack-content-seccion {
    display: flex;
    align-items: center;
    justify-content: center;

}

#stack-content-box {
    display: flex;
    flex-wrap: wrap;
}

.stack-item-img {
    width: 30%;
    max-width: 120px;
    filter: opacity(80%);
    margin: 25px auto 25px auto;
}

.stack-item-img:hover {
    filter: brightness(150%)
}

#contact-block {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(248, 241, 241);
    font-weight: 600;
    border-top: 1px solid rgba(247, 248, 242, 0.367);
    min-height: 100svh;
}

/* #contact-container {border: 10px solid rgb(237, 249, 7);} */

#contact-box {
    max-width: 700px;
    background-color: #000000ab;
    border: 1px solid white;
    margin: auto;
    box-shadow: 14px 15px rgba(15, 14, 15, 0.171);
}


#terminal-header {
    height: 40px;
    text-align: center;
    background-color: rgba(245, 245, 220, 0.979);
    color: black;
    font-size: larger;
    font-weight: bold;
    display: grid;
    grid-template-areas: 'dots touch touch btnSend btnSend';
    margin-bottom: 10px;
}


#term-dots-box {
    grid-area: dots;
}

#term-dots-div {
    width: fit-content;
}

.term-dot {
    width: 25px;
}

#term-title {
    grid-area: touch;
    font-size: clamp(0.7rem, 0.9vw, 1rem);

}

#form-filling-status-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-filling-status {
    color: rgb(145, 255, 0);
    text-align: center;
    font-size: clamp(0.7rem, 0.8vw, 1rem);
    width: fit-content;

}

#contact-form-box{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

form {
    width: 80%;
}

.form-input-row {
    margin-bottom: 10px;
}

.form-input-label {
    font-size: clamp(0.7rem, 0.8vw, 1rem);
    font-family: "terminal", monospace;
}

.form-placeholder {
    margin-right: 50px !important;
    margin-left: 20px;
}

input[type=text],
textarea {
    background-color: #0f0f0f79 !important;
    color: white;
    border: none;
    width: 60%;
}

input[type=text]:focus {
    outline: none !important;
    border: none !important;
    color: white;
    background-color: #000000ab;
}

textarea {
    padding-inline: 10rem;
    cursor: default !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.emptyInput {
    color: rgb(243, 247, 245);
    animation: blinking 1s linear infinite !important;
}

.incorrectInput {
    color: rgb(255, 38, 0);
    animation: blinking 1s linear infinite !important;
}

.correctInput {
    color: rgb(33, 238, 50);
}

@keyframes blinking {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

#sendBtnContainer {
    position: relative;
    max-width: 700px;
    margin: auto;
}


#btnSend {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    top: 18px;
    left: 94%;
}


#btnSend:hover {
    color: rgb(112, 168, 252);
}

#msgExito {
    margin-left: 20px !important;
    color: rgb(47, 248, 255);
    font-size: 2em;
    width: 100% !important;
}

.advertencia {
    color: orange !important;
}

footer {
    background-color: black;
    color: white;
    position: relative;
    height: 28px;
    overflow: hidden;
    font-weight: bold;
}

#footerContent {
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    animation: slideBanner 50s linear infinite;
}

#dinoRunning {
    width: 30px;
}



@keyframes slideBanner {
    0% {
        left: 0%;
    }

    100% {
        left: 100%;
    }
}

@media (max-width: 991px) {

    #caratula-container {
        width: 100%;
    }

    #nav-list {
        margin: auto;
        width: 100%;
    }

    .nav-link {
        text-align: center;
        padding: 4px;
        margin: 4px;
    }

    #nav-container {
        display: flex !important;
    }

    #nav-brand {
        order: 1 !important;
        text-align: center;
        padding: 0px !important;
        margin: 0px !important;
    }

    #icon-github {
        order: 2 !important;
    }

    #nav-btn {
        order: 3 !important;
    }

    #navbarNavAltMarkup {
        order: 4;
    }

    #caratula-container {
        display: grid !important;
        grid-template-areas:
            'nombre'
            'details'
            'mainimg'
            'cv' !important;
        gap: 10px;
    }

    #caratula-logo-box {
        display: flex;
        width: fit-content !important;
    }

    #caratula-logo-img {
        width: 200px;
        height: 200px;

    }

    #caratula-info-name {
        font-size: 2em !important;
    }


    .carousel-caption {
        background-color: rgb(15, 10, 25);
    }

    .carousel-caption-header {
        color: rgb(244, 232, 232) !important;
    }

    .carousel-caption-header:hover {
        color: rgb(93, 244, 151) !important;
    }


}



@media (max-width: 765px) {

    #btnSend {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        top: 18px;
        left: 90%;
    }

    textarea {
        margin-left: auto !important;
        cursor: default !important;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }


    #term-dots-div {
        visibility: hidden;
    }

    #term-dots-box {
        display: none;
    }

    #terminal-header {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-template-areas: none;
    }

    #term-title {
        text-align: center;
        width: 100%;
    }

    #form-filling-status {
        margin: 0 auto;
        text-align: center;
    }

}

html, body {
  width: 100%;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
