@import url('https://fonts.cdnfonts.com/css/terminal');


body {
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: 900;
    padding: 0%;
    margin: 0%;
    /* min-width: 370px !important;  */
    background: linear-gradient(174deg, rgba(0, 0, 0, 1) 20%, rgba(21, 21, 55, 1) 40%, rgba(36, 36, 97, 1) 60%, rgba(103, 37, 209, 1) 90%);
}

html,
body {
    overflow-x: hidden !important;
    overscroll-behavior: none;
    background: linear-gradient(174deg, rgba(0, 0, 0, 1) 20%, rgba(21, 21, 55, 1) 40%, rgba(36, 36, 97, 1) 60%, rgba(103, 37, 209, 1) 90%);
}

#nav-block {
    background-color: rgb(41, 41, 70);
}

#div-gh-icon {
    width: auto;
}

#icon-github,
.carousel-collap {
    width: 40px;
}

#icon-github:hover {
    filter: invert(100%);
}

#nav-list {
    display: flex;
    margin-left: auto;
    width: 50%;
    justify-content: space-around;
    /* border: red solid 1px; */
}

#nav-container a {
    color: rgba(240, 255, 255, 0.76);
}

#nav-container a:hover {
    color: rgb(240, 255, 255);
}

.navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.589);
}

.navbar-toggler-icon:hover {
    background-color: rgb(248, 241, 241);
}

.navbar-toggler {
    text-decoration: none;
    outline: 0;
    background-color: rgb(41, 41, 70) !important;
}

.navbar-toggler:focus {
    border: none !important;
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}

#aboutme-block {
    text-align: justify;
    color: rgb(253, 251, 248);
    margin-bottom: 0px;
    height: auto;
    min-height: 1000px;
}

#aboutme-container {
    border: 1px solid rgba(244, 238, 238, 0.312);
    width: 100% !important;
    height: auto;
    margin: auto;
    padding-bottom: 100px;
    display: grid;
    grid-template-areas:
        'nombre nombre nombre mainimg mainimg'
        'details details details mainimg mainimg'
        'details details details mainimg mainimg'
        'cv cv cv cv cv';
    gap: 10px;
}

#info-div {
    padding-top: 40px;
    margin-bottom: 40px;
    /* border: 1px solid white; */
    grid-area: nombre;
}

#info-name {
    font-size: clamp(2rem, 8vw, 6rem);
}

#info-grado {
    color: rgb(86, 240, 192) !important;
    font-size: 1.4em;
}


#detail-div {
    /* border: 1px solid white; */
    grid-area: details;
}

#mainlogo-div {
    /* border: 1px solid white; */
    grid-area: mainimg;
    display: flex;
    justify-content: center;
}

#mainlogo-box {
    margin: auto;
}

#mainlogo-img {
    /* border: 1px solid white; */
    width: 100%;
}

#cv-div {
    margin-top: 50px;
    grid-area: cv;
}

#cv-header {
    text-align: center;
    /* border: red 1px solid; */
    display: block !important;
}

#cv-img {
    margin-top: 10px !important;
    display: block !important;
    width: 62px;
    filter: brightness(10000%);
    margin: auto;
}

#cv-img:hover {
    filter: brightness(100%);
}

#sobre-mi-block {
    height: auto;
    padding-bottom: 50px
}

#sobre-mi-box {
    border: 1px solid rgba(255, 255, 255, 0.39);
    height: auto;
}

#sobre-mi-header {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
    font-size: clamp(2rem, 2vw, 4rem);
}

#sobre-mi-text {

    margin-bottom: 12px !important;
    text-align: justify;
    margin: auto;
    width: 70%;
    /* border: plum 2px solid; */
    color: white;
    font-size: clamp(1rem, 1.4vw, 1.5rem);
}

#proyectos-block {
    height: auto;
    display: flex;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    margin-bottom: 40px;
    min-height: 1000px;
}

#proyectos-container {
    margin: auto !important;
    border: 1px solid rgba(255, 255, 255, 0.39);

}

#proyectos-header {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
    font-size: clamp(2rem, 2vw, 4rem);
}

#proyects-carrusel {
    margin: auto !important;
    width: 100% !important;
    /* border: rgb(218, 9, 9) 1px solid; */
}

img.w-100 {
    margin: auto;
    width: 80% !important;
    height: auto;
}

.carousel-caption {
    background-color: rgba(15, 10, 25, 0.63);
}

.carousel-caption-header {
    color: rgb(244, 232, 232) !important;
}

.carousel-caption-header:hover {
    color: rgba(93, 244, 151, 0.901) !important;
}

.carousel-links {
    color: #ffee08;
    text-decoration: none;
}

.carousel-links:hover {
    color: rgb(78, 247, 143) !important;
}

p.carousel-descr {
    text-align: justify;
    padding: 10px;
}

.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.527) !important;
}

.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.527) !important;
}


#skills-block {
    color: white;
    height: auto;
    min-height: 500px;
    /* border: red 1px solid; */
    height: fit-content;
}

#skillsText {
    margin-top: 100px;
    /* border: red 1px solid; */
    display: flex;
    font-size: clamp(1rem, 2vw, 4rem);
}

#skillTextContent {
    /* border: rgb(247, 244, 244) 1px solid; */
    width: fit-content;
    margin: auto !important;
    text-align: center;
    font-size: clamp(2rem, 2vw, 4rem);
}

.skills-container {
    margin: auto !important;
    padding: 50px;
    display: flex;
    border: 1px solid rgba(149, 243, 232, 0.39);
    height: 700px;
}

#skills-box {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* border: rgb(255, 253, 254) 1px solid; */
}

.skill-item-img {
    width: 30%;
    max-width: 120px;
    filter: opacity(80%);
    margin: 25px auto 25px auto;
    /* border: red solid 1px; */
}

.skill-item-img:hover {
    filter: brightness(150%)
}


#contact-block {
    padding-top: 70px;
    padding-bottom: 100px !important;
    min-height: 500px;
    color: rgb(248, 241, 241);
    font-weight: 600;
}

#contact-box {
    max-width: 700px;
    min-height: 500px !important;
    background-color: #000000ab;
    border: 1px solid white;
    margin: auto;
    box-shadow: 14px 15px rgba(15, 14, 15, 0.171);
}


#terminal-header {
    height: 40px;
    text-align: center;
    background-color: rgba(245, 245, 220, 0.979);
    color: black;
    font-size: larger;
    font-weight: bold;
    display: grid;
    grid-template-areas: 'dots touch touch btnSend btnSend';
    margin-bottom: 10px;

    border: plum 4px dotted;
}


#term-dots-box {
    grid-area: dots;
}

#term-dots-div {
    width: fit-content;
}

.term-dot {
    width: 25px;
}

#term-title {
    grid-area: touch;
    font-size: clamp(0.7rem, 0.9vw, 1rem);

}

#form-filling-status-block{
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-filling-status {
    color: rgb(145, 255, 0);
    text-align: center;
    font-size: clamp(0.7rem, 0.8vw, 1rem);
    width: fit-content;
    
}

form {
    padding-top: 29px;
    margin-left: 25px;
}

.form-input-row {
    margin-bottom: 10px;
}

.form-input-label {
    font-size: clamp(0.7rem, 0.8vw, 1rem);
}

.form-placeholder {
    margin-right: 50px !important;
    margin-left: 20px;
}

input[type=text],
textarea {
    background-color: #0f0f0f79 !important;
    color: white;
    border: none;
    width: 60%;
}

input[type=text]:focus {
    outline: none !important;
    border: none !important;
    color: white;
    background-color: #000000ab;
}

textarea {
    margin-left: 100px !important;
    cursor: default !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.emptyInput {
    color: rgb(243, 247, 245);
    animation: blinking 1s linear infinite !important;
}

.incorrectInput {
    color: rgb(255, 38, 0);
    animation: blinking 1s linear infinite !important;
}

.correctInput {
    color: rgb(33, 238, 50);
}

@keyframes blinking {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

#sendBtnContainer {
    position: relative;
    max-width: 700px;
    margin: auto;
}


#btnSend {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    top: 18px;
    left: 94%;
}


#btnSend:hover {
    color: rgb(112, 168, 252);
}

#msgExito {
    margin-left: 20px !important;
    color: rgb(47, 248, 255);
    font-size: 2em;
    width: 100% !important;
}

.advertencia {
    color: orange !important;
}

footer {
    background-color: black;
    color: white;
    position: relative;
    height: 28px;
    overflow: hidden;
    font-weight: bold;
}

#footerContent {
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    animation: slideBanner 50s linear infinite;
}

#dinoRunning {
    width: 30px;
}



@keyframes slideBanner {
    0% {
        left: 0%;
    }

    100% {
        left: 100%;
    }
}

@media (max-width: 991px) {

    #aboutme-container {
        width: 100%;
        min-height: 1000px;
    }

    #nav-list {
        margin: auto;
        width: 100%;
    }

    .nav-link {
        text-align: center;
        padding: 4px;
        margin: 4px;
    }

    #nav-container {
        display: flex !important;
    }

    #nav-brand {
        order: 1 !important;
        text-align: center;
        padding: 0px !important;
        margin: 0px !important;
    }

    #icon-github {
        order: 2 !important;
    }

    #nav-btn {
        order: 3 !important;
    }

    #navbarNavAltMarkup {
        order: 4;
    }

    #aboutme-container {
        display: grid !important;
        grid-template-areas:
            'nombre'
            'details'
            'mainimg'
            'cv' !important;
        gap: 10px;
    }

    #mainlogo-box {
        display: flex;
        width: fit-content !important;
    }

    #mainlogo-img {
        border: 1px solid white;
        width: 55% !important;
        margin: auto !important;
    }

    #info-name {
        font-size: 2em !important;
    }


    #proyects-carrusel {
        margin: auto !important;
        /* border: white 1px solid; */
        width: 80% !important;
    }

    .carousel-caption {
        background-color: rgb(15, 10, 25);
    }

    .carousel-caption-header {
        color: rgb(244, 232, 232) !important;
    }

    .carousel-caption-header:hover {
        color: rgb(93, 244, 151) !important;
    }


}



@media (max-width: 765px) {

    #btnSend {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        position: absolute;
        top: 18px;
        left: 90%;
    }

    #proyects-carrusel {
        margin: auto;
        /* border: white 1px solid; */
        width: 100% !important;
    }

    textarea {
        margin-left: auto !important;
        cursor: default !important;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }


    #term-dots-div {
        visibility: hidden;
    }

    #term-dots-box {
        display: none;
    }

    #terminal-header {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-template-areas: none;
    }

    #term-title {
        text-align: center;
        width: 100%;
    }

   #form-filling-status {
        margin: 0 auto;
        text-align: center;
    }

}