name: Deploy to VPS via SSH

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Clonar el repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Subir archivos al VPS usando rsync
      - name: Deploy to VPS with rsync
        uses: burnett01/rsync-deployments@5.2.1
        with:
          switches: -avzr --delete
          path: ./                     # Carpeta local del repo
          remote_path: ${{secrets.WORK_DIR}}   # Carpeta en el VPS
          remote_host: ${{ secrets.SERVER_HOST }}
          remote_user: ${{ secrets.SERVER_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}